<div class="page home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="page-title">
            <img class="svg" src="assets/svg/file.svg">
            <span>Todo List App</span>
          </h2>
        </div>
        <div class="col-md-6">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Yapılacak yeni madde ekle" #newTodo>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="addTodo(newTodo)">Ekle</button>
          </form>
        </div>
      </div>
      <div class="row mt-4">
          <div class="col-md-12">
              <mat-card class="d-flex">
                <div class="example-container">
                    <h5>To do</h5>
                  
                    <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="data.doo"
                      [cdkDropListConnectedTo]="[doingList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.doo" cdkDrag>
                        <img class="svg" src="assets/svg/clock.svg">  
                        {{item}}</div>
                    </div>
                  </div>
                  
                  <div class="example-container">
                    <h5>doing</h5>
                  
                    <div
                      cdkDropList
                      #doingList="cdkDropList"
                      [cdkDropListData]="data.doing"
                      [cdkDropListConnectedTo]="[todoList,doneList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.doing" cdkDrag>
                            <img class="svg" src="assets/svg/hourglass.svg">  
                        {{item}}</div>
                    </div>
                  </div>
                  <div class="example-container">
                    <h5>done</h5>
                  
                    <div
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="data.done"
                      [cdkDropListConnectedTo]="[doingList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                            <img class="svg" src="assets/svg/like.svg">
                            {{item}}</div>
                    </div>
                  </div>
                  
              </mat-card>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
            <small>
                Copyrigt todo list 2019 By Cengiz Altürk
            </small>
          </div>
      </div>
    </div>
</div>